@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
 box-sizing: border-box;
}

:root {
 --color-neutral-000: #FFFFFF;
 --color-neutral-100: #F6F8FF;
 --color-neutral-500: #4B6A9B;
 --color-neutral-700: #2B3442;
 --color-neutral-900: #141D2F;
 --color-blue-500:    #0079FF;
 --color-blue-300:    #60ABFF;
 --color-box-shadow:  #4660BB33;
 font-size: 16px;
}

body {
 background-color: var(--color-neutral-100);
 padding: 8rem 22rem 2rem;
 font-family: "Space Mono";
}

a {
 color: currentColor;
 text-decoration: none;
}

a:hover {
 text-decoration: underline;
}

:focus {
 outline-color: var(--color-blue-500);
}

.container > :not(:last-child) {
 margin-bottom: 2.5rem;
}

.container :not(svg) {
 border: none;
 border-radius: 1rem;
}

.header {
 display: flex;
 justify-content: space-between;
}

.logo {
 color: var(--color-neutral-900);
 font-size: 1.6rem;
 font-weight: bold;
}

.mode-btn {
 display: flex;
 width: 10%;
 height: fit-content;
 padding: 0.4rem;
 background: transparent;
 border-radius: .25rem !important;
 justify-content: space-between;
 align-items: center;
 color: var(--color-neutral-500);
 font-family: inherit;
 font-weight: bold;
 font-size: 0.8rem;
 text-transform: uppercase;
 letter-spacing: 2.5px;
 line-height: 1.4;
 cursor: pointer;
}

.mode-btn:hover {
 color: var(--color-neutral-900);
}

.search {
 display: flex;
 align-items: center;
 width: 100%;
 padding: 0.5rem 0.8rem 0.5rem 1.5rem;
 background-color: var(--color-neutral-000);
 box-shadow: 0 1.3rem 2.3rem var(--color-box-shadow);
}

.search-icon {
 color: var(--color-blue-500);
 cursor: pointer;
}

.search-icon:hover {
 color: var(--color-blue-300);
}

.search-input {
 height: 3rem;
 padding: 0 1rem;
 border: none;
 font-family: inherit;
 font-size: 1rem;
 flex-grow: 1;
}

.search-input:focus {
 outline: none;
}

.search:has(.search-input:focus) {
 outline: solid .12rem var(--color-blue-500);
}

.search-btn {
 padding: 0.8rem 1.5rem;
 color: var(--color-neutral-000);
 background-color: var(--color-blue-500);
 border: none;
 font-family: inherit;
 font-size: 1rem;
 font-weight: bold;
 line-height: 1.5;
 cursor: pointer;
 outline-offset: .15rem;
}

.search-btn:hover {
 background-color: var(--color-blue-300);
}

.main {
 display: flex;
 justify-content: space-between;
 padding: 3rem;
 background-color: var(--color-neutral-000);
 border-radius: 0.5rem;
 box-shadow: 0 1.3rem 2.3rem var(--color-box-shadow);
}

.pfp-container {
 width: 15%;
}

.pfp {
 width: 100%;
 border-radius: 50% !important;
}

.user-info {
 width: 80%;
 font-size: 1rem;
}

.user-info > * {
 margin: 0;
 margin-bottom: 1.5rem;
}

.user-namedate {
 display: flex;
 justify-content: space-between;
}

.user-name__screen-name {
 font-size: 1.6rem;
 font-weight: bold;
}

.user-name__handle {
 color: var(--color-blue-500);
}

.user-date {
 color: var(--color-neutral-500);
 font-size: 0.9rem;
}

.unavailable {
 color: var(--color-neutral-500);
 opacity: 75%;
}

.user-bio {
 color: var(--color-neutral-500);
 font-size: 0.9rem;
}

.user-data {
 display: flex;
 padding: 1rem 2rem;
 background-color: var(--color-neutral-100);
 font-size: 0.8rem;
 list-style: none;
 justify-content: space-around;
}

.data-name {
 color: var(--color-neutral-500);
}

.data-number {
 font-size: 1.4rem;
 font-weight: bold;
}

.user-misc {
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 grid-template-rows: repeat(2, 1fr);
 grid-column-gap: 1rem;
 grid-row-gap: 1rem;
}

.misc-item {
 display: flex;
 align-items: center;
}

.misc-item svg {
 margin-right: 1rem;
}

.misc-item__text {
 color: var(--color-neutral-500);
}

.misc-item :focus {
 outline: none;
}

.misc-item:has(:focus) {
 border-radius: .25rem;
 outline: solid .12rem var(--color-blue-500);
 outline-offset: .12rem;
}