.container {
 width: 100vw;
 height: fit-content;
 min-height: 100vh;
 padding: 8rem 22rem;
 background-color: var(--color-neutral-100);
 font-family: "Space Mono";
}

.container > :not(:last-child) {
 margin-bottom: 2.5rem;
}

.container :not(svg) {
 border: none;
 border-radius: 1rem;
}

.header {
 display: flex;
 justify-content: space-between;
}

.logo {
 color: var(--color-neutral-900);
 font-size: 1.6rem;
 font-weight: bold;
}

.mode-btn {
 display: flex;
 width: 5rem;
 height: fit-content;
 padding: 0.4rem;
 background: transparent;
 border-radius: .25rem !important;
 justify-content: space-between;
 align-items: center;
 color: var(--color-neutral-500);
 font-family: inherit;
 font-weight: bold;
 font-size: 0.8rem;
 text-transform: uppercase;
 letter-spacing: 2.5px;
 line-height: 1.4;
 cursor: pointer;
}

.adaptive .mode-btn {width: 5.75rem}

.mode-btn:hover {
 color: var(--color-neutral-900);
}

.search {
 display: flex;
 align-items: center;
 width: 100%;
 padding: 0.5rem 0.8rem 0.5rem 1.5rem;
 background-color: var(--color-neutral-000);
 box-shadow: 0 1.3rem 2.3rem var(--color-box-shadow);
}

.search-icon {
 color: var(--color-blue-500);
 cursor: pointer;
}

.search-icon:hover {
 color: var(--color-blue-300);
}

.search-input {
 height: 3rem;
 padding: 0 1rem;
 border: none;
 font-family: inherit;
 font-size: 1rem;
 flex-grow: 1;
}

.adaptive .search-input {
 color: var(--color-neutral-900);
 background-color: var(--color-neutral-000);
}

.search-input:focus {
 outline: none;
}

.search:has(.search-input:focus) {
 outline: solid .12rem var(--color-blue-500);
}

.search-results {
 display: none;
 margin-right: 1rem;
 font-weight: bold;
 color: var(--color-red-500);
}

.search-results.show {display: inline;}

.search-btn {
 padding: 0.8rem 1.5rem;
 color: var(--color-neutral-000);
 background-color: var(--color-blue-500);
 border: none;
 font-family: inherit;
 font-size: 1rem;
 font-weight: bold;
 line-height: 1.5;
 cursor: pointer;
 outline-offset: .15rem;
}

.adaptive .search-btn {
 color: var(--color-neutral-900);
}

.search-btn:hover {
 background-color: var(--color-blue-300);
}

.user-card {
 display: flex;
 justify-content: space-between;
 padding: 3rem;
 background-color: var(--color-neutral-000);
 border-radius: 0.5rem;
 box-shadow: 0 1.3rem 2.3rem var(--color-box-shadow);
}

.pfp-container {
 width: 15%;
}

.pfp {
 width: 100%;
 border-radius: 50% !important;
}

.user-desc {
 width: 80%;
 font-size: 1rem;
}

.user-desc > * {
 margin: 0;
 margin-bottom: 1.5rem;
}

.user-namedate {
 display: flex;
 justify-content: space-between;
}

.user-name__screen-name {
 font-size: 1.6rem;
 font-weight: bold;
}

.user-name__handle {
 color: var(--color-blue-500);
}

.user-date {
 color: var(--color-neutral-500);
 font-size: 0.9rem;
}

.unavailable {
 color: var(--color-neutral-500);
 opacity: 75%;
}

.user-bio {
 color: var(--color-neutral-500);
 font-size: 0.9rem;
}

.user-data {
 display: flex;
 padding: 1rem 2rem;
 background-color: var(--color-neutral-100);
 font-size: 0.8rem;
 list-style: none;
 justify-content: space-around;
}

.user-stats {
 display: flex;
 padding: 1rem 2rem;
 background-color: var(--color-neutral-100);
 font-size: 0.8rem;
 list-style: none;
 justify-content: space-around;
}

.stat-name {
 color: var(--color-neutral-500);
 text-transform: capitalize;
}

.stat-number {
 font-size: 1.4rem;
 font-weight: bold;
}

.data-name {
 color: var(--color-neutral-500);
}

.data-number {
 font-size: 1.4rem;
 font-weight: bold;
}

.user-misc {
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 grid-template-rows: repeat(2, 1fr);
 grid-column-gap: 1rem;
 grid-row-gap: 1rem;
 margin-bottom: 0;
}

.misc-item {
 display: flex;
 align-items: center;
}

.misc-item svg {
 margin-right: 1rem;
}

.misc-item__text {
 color: var(--color-neutral-500);
}

.misc-item :focus {
 outline: none;
}

.misc-item:has(:focus) {
 border-radius: .25rem;
 outline: solid .12rem var(--color-blue-500);
 outline-offset: .12rem;
}

.no-results {
 padding: 3rem;
 background-color: var(--color-neutral-000);
 border-radius: 0.5rem;
 box-shadow: 0 1.3rem 2.3rem var(--color-box-shadow);
 text-align: center;
}

.no-results__header {
 color: var(--color-neutral-700);
}

.no-results__text {
 color: var(--color-neutral-300);
 line-height: 1.5;
}

@media (max-width: 1000px) {
 .container {
  padding: 2.5rem 2rem;
 }
}

@media (max-width: 600px) {
 .search-input {
  font-size: .8rem;
 }

 .user-card {
   padding: 2rem 1.5rem;
 }

 .user-desc {
  width: 100%;
  
 }

 .user-namedate {
   justify-content: start;
 }

 .user-name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 }

 .pfp-container {
  display: flex;
  flex-grow: .5;
  justify-content: center;
  align-content: center;
 }
 
 .pfp {
  width: 75%;
  margin: auto;
 }

 .user-stats {
  padding: 1rem;
  flex-direction: column;
 }

 .stats-item:not(:last-of-type) {
  margin-bottom: 1rem;
 }

 .user-misc {
  display: flex;
  flex-direction: column;
 }
}